@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100 !important;
		/* font-style: italic; */
	}

  html.dark .shiki{
    box-shadow: inset 0 0 0 1px #ffffff1a;
  }

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--colors-gray-900) !important;
	}
}

.glass {
	/* background: rgba(57, 56, 56, 0.52); */
	backdrop-filter: blur(0px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

.text-quote {
	color: hsl(351deg 100% 50%);
}

.p-1 {
	padding: 0.25rem;
}

.bg-quote\/10 {
	background-color: hsl(351deg 66% 48% / 0.1);
}

.rounded-lg {
	border-radius: 0.5rem;
}

.sidebar {
	height: 100%;
	overflow-y: auto;
}

.mobile-side-menu {
	/* display: flex; */
	position: fixed;
	top: 3rem;
	right: 0;
	bottom: 0;
	/* background-color: var(--colors-gray-900); */
	transition: all 0.3s ease; /* 添加过渡效果 */
	z-index: 50;
}
