<div
	class="pointer-events-none absolute inset-x-0 top-0 z-[60] flex justify-center overflow-hidden"
>
	<div class="flex w-[108rem] flex-none justify-end">
		<picture>
			<source srcset="../../src/assets/images/docs.avif" type="image/avif" />
			<img
				src="../../src/assets/images/docs.png"
				alt=""
				class="w-[71.75rem] max-w-none flex-none dark:hidden"
				decoding="async"
			/>
		</picture>
		<picture>
			<source srcset="../../src/assets/images/docs-dark.avif" type="image/avif" />
			<img
				src="../../src/assets/images/docs-dark.png"
				alt=""
				class="hidden w-[90rem] max-w-none flex-none dark:block"
				decoding="async"
			/>
		</picture>
	</div>
</div>
