---
import docsAvif from "/src/assets/images/docs@30.8b9a76a2.avif";
---

<div
	class="pointer-events-none absolute inset-x-0 top-0 z-[60] flex justify-center overflow-hidden"
>
	<div class="flex w-[108rem] flex-none justify-end">
		<picture>
			<source srcset="../assets/images/docs@30.8b9a76a2.avif" type="image/avif" />
			<img
				src="../assets/images/docs@tinypng.d9e4dcdc.png"
				alt=""
				class="w-[71.75rem] max-w-none flex-none dark:hidden"
				decoding="async"
			/>
		</picture>
		<picture>
			<source srcset="../assets/images/docs-dark@30.1a9f8cbf.avif" type="image/avif" />
			<img
				src="../assets/images/docs-dark@tinypng.1bbe175e.png"
				alt=""
				class="hidden w-[90rem] max-w-none flex-none dark:block"
				decoding="async"
			/>
		</picture>
	</div>
</div>
