---
import { Image } from "astro:assets";
import docs from "../assets/back/docs.png";
import docsav from "../assets/back/docs.avif";
import docdark from "../assets/back/docs-dark.png";
import docdarkav from "../assets/back/docs-dark.avif";
---

<div
	class="pointer-events-none absolute inset-x-0 top-0 z-[60] flex justify-center overflow-hidden"
>
	<div class="flex w-[108rem] flex-none justify-end">
		<picture>
			<source srcset={docsav?.src} type="image/avif" />
			<Image
				src={docs}
				width={200}
				height={200}
				format="webp"
				class="w-[71.75rem] max-w-none flex-none dark:hidden"
				alt={`img of docs`}
			/>
		</picture>
		<picture>
			<source srcset={docdarkav?.src} type="image/avif" />
			<Image
				src={docdark}
				width={200}
				height={200}
				format="webp"
				class="hidden w-[90rem] max-w-none flex-none dark:block"
				alt={`img of docs-dark`}
			/>
		</picture>
	</div>
</div>
