---
import { getCategories } from "@/utils";
import Category from "@/components/Category";

const categories = await getCategories(null);
const { activeCategory } = Astro.props;
---

<div class="relative flex min-w-full flex-wrap gap-5">
	<Category />
	{categories.map((category: any) => <Category name={category} activeCategory={activeCategory} />)}

	<div class="absolute bottom-0 -z-40 hidden w-full border-b-2 dark:border-gray-600 sm:block"></div>
</div>
