---
import Title from "./Title.astro";
import Shape from "./icons/Shape.astro";
type Props = {
	title: any;
};

const { title } = Astro.props;
---

<div class="title mt-12 flex items-center justify-start gap-2">
	<Shape />
	<Title>{title}</Title>
</div>
