---
import BaseHead from "@/components/BaseHead";
import BgImage from "@/components/BgImage";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import ProviderTheme from "@/components/ProviderTheme";
import ProviderAnimations from "@/components/ProviderAnimations";
import TwSizeIndicator from "@/components/TwSizeIndicator";
import EditBlog from "@/components/editBlog";

const { title, description, image, articleDate } = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
	</head>
	<body class="mx-auto bg-white dark:bg-slate-900 dark:text-slate-400 dark:text-white">
		<main
			class="mt-4 grid gap-12 overflow-hidden px-5 antialiased sm:mx-auto sm:max-w-2xl sm:px-8 md:max-w-6xl md:overflow-visible lg:px-0"
		>
			<Header />
			<BgImage />
			<slot />
			<Footer />
		</main>
		<TwSizeIndicator />
		<EditBlog />
		<style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style>
	</body>
</html>
